* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;

}

body {
    position: relative; 
    min-height: 100vh;
    padding-bottom: 144px;

}

#navigation {

    border-bottom: 1px solid #E8E8E8;
    width: 100%;
    height: 54px;
    top: 0;
    
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 10;

}

#nav-container {
    width: 100%;
    max-width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-left {
    color: rgba(68, 136, 153, 1);
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    text-decoration: none;
    margin-left: 10px;
}


.nav-button {
    border-style: hidden;
    background-color: white;
    color: #666;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 13.3px;
    cursor: pointer;
    text-decoration: none;
}


/* 讓 footer always 在底部*/

.footer {
    background-color: #757575;
    color: white;

    width: 100%;
    height: 104px;
    
    position: absolute;
    bottom: 0; 


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-content {
    font-weight: 700;
    font-size: 16px;
}

@media(max-width:600px){
    #navigation{
        padding: 10px 0 10px 0px;
    }
}