.main{
    position: relative;
    top: 54px;
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;

    align-items: center; /* 水平置中 */
}

.headline {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 30px;
    padding: 10px;

    color: var(--secondary-color-gray-70, #666);

    /* Button - Bold 19(16) */
    font-family: Noto Sans TC;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;

}

.order-number {
    color: var(--secondary-color-gray-70, #666);

    /* Button - Bold 19(16) */
    font-family: Noto Sans TC;
    font-size: 19px;
    font-style: normal;

}