<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    {% block stylesheet %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/img/bus.png"/>
<body>

    <!-- 登入畫面 -->
<div id="login">
    <div id="login-content">
        <div class="decorator-bar"></div>
        <h1>登入會員帳號</h1>
        <img class="close-login" src="../img/icon_close.svg">
        <form id="login-form">
            <input id="login-email" type="email" placeholder="輸入電子信箱" required>
            <input id="login-password" type="password" placeholder="輸入密碼" required>
            <button id="login-button" type="submit" >登入帳戶</button>
        </form>
        <div id="login-message"></div>
        <p id="to-signup">還沒有帳戶？點此註冊</p>
    </div>
</div>

<div id="signup">
    <div id="signup-content">
        <div class="decorator-bar"></div>
        <h1>註冊會員帳號</h1>
        <img class="close-signup" src="../img/icon_close.svg">
        <form id="signup-form">
            <input id="signup-name" type="text" placeholder="輸入姓名" required>
            <input id="signup-email" type="email" placeholder="輸入電子信箱" required>
            <input id="signup-password" type="password" placeholder="輸入密碼" required>
            <button id="signup-button" type="submit" >註冊新帳戶</button>
        </form> 
        <div id="signup-message"></div>
        <p id="to-login">已經有帳戶了？點此登入</p>
    </div>
</div>

<!-- navigation -->
<div id="navigation"> 
    <div id="nav-container">
        <a href="/" id="nav-left">台北一日遊</a>
        <div id="nav-right">
            <button class="nav-booking-button">預定行程</button>
            <button class="nav-login-button">登入/註冊</button>
        </div>
    </div>  
</div>


{% block body %}{% endblock %}

<!-- footer -->
<footer class="footer">
    <div id="footer-content">COPYRIGHT &#169; 2023 台北一日遊</div>
</footer>

<script src="/js/base.js"></script>

{% block js %}{% endblock %}
</body>
</html>
