{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="/css/booking.css">
{% endblock %}

{% block title %} 預定行程 {% endblock %}

{% block body %}

<section class="main">
    <div class="headline">您好，<p id="name"></p>，待預定的行程如下：</div>
    <div id="no-booking-message"></div>
    <!-- 建立所有預定行程 -->
    <div id="booking-container">

    </div>

    <div class="separate-line"></div>
    <form>
        <div class="booking-contact">
            <h3>您的聯絡資訊</h3>
            <div class="name">
                <span> 聯絡姓名：</span>
                <input type="text" id="contact-name" required/>
            </div>
            <div class="email">
                <span>聯絡信箱：</span>
                <input type="email" id="contact-email" required/>
            </div>
                <div class="phone">
                <span>手機號碼：</span>
                <input type="tel" id="contact-phone" minlength="10" maxlength="10" placeholder="0912345678" required/>
                </div>
            <p>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
        </div>
    
        <div class="separate-line"></div>
    
        <!-- 付款資訊： 串接 tappay -->
        <div class="booking-payment">
            <h3>信用卡付款資訊</h3>
    
            <div class="input-container card-number-group">
                <label for="card-number"><span id="cardtype"></span>卡片號碼：</label>
                <div class="tpfield card-number" id="card-number"></div>
            </div>
            <div class="input-container expiration-date-group">
                <label for="card-expiration-date">過期時間：</label>
                <div class="tpfield card-expiration-date" id="card-expiration-date"></div>
            </div>          
            <div class="input-container card-number-group">
                <label for="card-ccv">驗證密碼：</label>
                <div class="tpfield card-ccv" id="card-ccv"></div>
            </div>
    
        </div>
    
        <div class="separate-line"></div>
    
        <div class="confirm">
            <p id="total-price">總價：新台幣 2000 元</p>
            <button type="submit" class="submit-button">確認訂購並付款</button>
        </div>
    </form>

</section>
{% endblock %}

{% block js %}
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.17.0"></script>
<script src="/js/booking.js"></script>

{% endblock %}