{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block title %}台北一日遊{% endblock %}

{% block body %}
    <!-- hero section -->
    <div id="welcome">
        <div id="wel-container">
            <div id="slogan-1">
                <div>輕鬆享受台北一日悠閒</div>
            </div>
            <div id="slogan-2">
                <div>探索每個角落，體驗城市的深度旅遊行程</div>
            </div>
            <form id="search-bar">
                <input type="text" placeholder="輸入景點名稱查詢" name="keyword" id="keyword-input">
                <button type="submit">
                    <img src="img/search.svg">
                </button>
            </form>
        </div>
        <div id="hero-img">
            <img src="img/welcome.svg">
        </div>
    </div>

    <!-- main -->
    <div id="main">
        <!-- list bar -->
        <div class="list-bar">
            <div class="left-container">
                <img src="img/arrow-left.svg" id="arrow-left" class="arrow-image" onmouseover="this.src='img/arrow-left-hover.svg';" onmouseout="this.src='img/arrow-left.svg';">
            </div>
            <div class="mrt-list" id="mrt-list"></div>
            <div class="right-container">
                <img src="img/arrow-right.svg" id="arrow-right"class="arrow-image" onmouseover="this.src='img/arrow-right-hover.svg';" onmouseout="this.src='img/arrow-right.svg';">
            </div>
        </div>

        <!-- attractions -->
        <div class="attractions">
            <div class="attractions-group" id="attractions-group">

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}<script src="/js/index.js"></script>{% endblock %}
